@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.gridgridcontainer-layout-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 2px solid red;
  // border: 2px solid red;
  margin: 0;
  padding: 0;
  position: relative;
}
.row {
  // border: 2px solid red;
  display: flex;
}
.Node {
  background-color: #1d1d1d;
  box-shadow: 0 0 4px #000;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;

  transition: 2s ease;
  &:hover {
    transition-duration: 0s;
  }
}
.grind-container {
  // display: grid;
  // grid-template-columns: repeat(90, 20px);
  // border: 2px solid red;
  width: 100%;
  // height: 100vh;
  justify-content: center;
  // margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 3%;
}
.Node-Enter {
  background: gray;
  box-shadow: 0 0 2px gray 0 0 10px gray;
}

.node-visited {
  background: wheat;
}
.node-sp {
  background-color: rgb(109, 182, 109) !important;
}

.instruction {
  width: 100%;
  height: 10vh;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2em;
    height: 100%;
    list-style: none;
  }
  li {
    width: 10%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    box-shadow: 2px 1.5px 10px black;
    border-radius: 0.1em;
  }
}

.nav-bar {
  margin-bottom: 1em;
}
.mine-logo {
  width: 20%;
}
.sp-icon {
  background: rgb(109, 182, 109);
}

.action-bar {
  width: 100%;
  height: 10vh;
  background: radial-gradient(
    ellipse at center,
    #373333 0,
    rgba(75, 251, 181, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-links {
  display: flex;
  position: relative;
  gap: 2em;
  width: 60%;
  height: 5vh;
  button {
    width: 20%;
    cursor: pointer;
  }
}
.iconFind {
  margin-right: 10em;
  width: 5%;
  position: absolute;
  left: 0;
  top: 0.5em;
}
.actionBtn {
  font-size: 1.1rem;
  color: black;
  border: 2px solid lightblue;
  text-decoration: none;
  transition: 0.5s;
  color: white;

  background: radial-gradient(
    ellipse at center,
    #fb4b4b 0,
    rgba(75, 251, 181, 0) 100%
  );

  &:hover {
    border-radius: 0.5em;
  }
}
.runBtn {
  background: radial-gradient(
    ellipse at center,
    #4bfb68 0,
    rgba(75, 251, 181, 0) 100%
  );
}

.clearBtn {
  background: radial-gradient(
    ellipse at center,
    #383b39 0,
    rgba(75, 251, 181, 0) 100%
  );
}

.node-mine {
  width: 90%;
}
.tec-dance {
  width: 4%;
}
#algos {
  font-size: 1rem;
  margin-left: 0.3em;
  background: radial-gradient(
    ellipse at center,
    #4b77fb 0,
    rgba(75, 251, 181, 0) 100%
  );
}

.frog {
  background-image: url("../imgs/frogZ.gif");
  background-size: cover;

  background-position: center;
  background-color: green;
}
.tossCoinBtn {
  position: relative;
  img {
    width: 40%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
