@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.Node {
  background-color: #1d1d1d;
  -webkit-box-shadow: 0 0 4px #000;
          box-shadow: 0 0 4px #000;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.Node:hover {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.grind-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20px)[90];
      grid-template-columns: repeat(90, 20px);
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20em;
}

.Node-Enter {
  background: gray;
  -webkit-box-shadow: 0 0 2px gray 0 0 10px gray;
          box-shadow: 0 0 2px gray 0 0 10px gray;
}

.node-visited {
  background: wheat;
}

.node-sp {
  background-color: #6db66d !important;
}

.instruction {
  width: 100%;
  height: 10vh;
}

.instruction ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 2em;
  height: 100%;
  list-style: none;
}

.instruction li {
  width: 10%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -webkit-box-shadow: 2px 1.5px 10px black;
          box-shadow: 2px 1.5px 10px black;
  border-radius: 0.1em;
}

.nav-bar {
  margin-bottom: 1em;
}

.mine-logo {
  width: 20%;
}

.sp-icon {
  background: #6db66d;
}

.action-bar {
  width: 100%;
  height: 10vh;
  background: radial-gradient(ellipse at center, #373333 0, rgba(75, 251, 181, 0) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 2em;
  width: 60%;
  height: 5vh;
}

.action-links button {
  width: 20%;
  cursor: pointer;
}

.iconFind {
  margin-right: 10em;
  width: 5%;
  position: absolute;
  left: 0;
  top: 0.5em;
}

.actionBtn {
  font-size: 1.1rem;
  color: black;
  border: 2px solid lightblue;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  background: radial-gradient(ellipse at center, #fb4b4b 0, rgba(75, 251, 181, 0) 100%);
}

.actionBtn:hover {
  border-radius: 0.5em;
}

.runBtn {
  background: radial-gradient(ellipse at center, #4bfb68 0, rgba(75, 251, 181, 0) 100%);
}

.clearBtn {
  background: radial-gradient(ellipse at center, #383b39 0, rgba(75, 251, 181, 0) 100%);
}

.node-mine {
  width: 90%;
}

.tec-dance {
  width: 4%;
}

#algos {
  font-size: 1rem;
  margin-left: 0.3em;
  background: radial-gradient(ellipse at center, #4b77fb 0, rgba(75, 251, 181, 0) 100%);
}

.frog {
  background-image: url("../imgs/frogZ.gif");
  background-size: cover;
  background-position: center;
  background-color: green;
}

.tossCoinBtn {
  position: relative;
}

.tossCoinBtn img {
  width: 40%;
  position: absolute;
  left: 0;
  top: 0;
}
/*# sourceMappingURL=style.css.map */